/* Estilo personalizado para o título principal */
h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #007bff; /* Cor primária do Bootstrap */
}

/* Estilo personalizado para os cartões */
.card {
    border: 1px solid #007bff; /* Cor primária do Bootstrap */
}

/* Estilo personalizado para os botões */
.btn-custom {
    background-color: #28a745; /* Verde do Bootstrap */
    border-color: #28a745;
    color: white;
}

/* Estilo personalizado para inputs */
input.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

input.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.anexo-item {
    display: flex;
    align-items: center;
}

.anexo-item button {
    margin-right: 10px;
}

.anexo-item span {
    flex-grow: 1;
    display: block;
    margin-left: 10px;
}

